name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  Lint:
    name: Lint
    runs-on: ubuntu-latest
    container:
      image: node:22
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Install Dependencies
        run: yarn

      - name: Lint
        run: yarn lint

      - name: Type Check
        run: yarn tsc

  Test:
    name: Build & Test
    runs-on: ubuntu-latest
    container:
      image: node:lts
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Install Dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test
